<div class="container">
  <div class="row justify-content-md-center">

    <h2>Your Account</h2>
  </div>
  <div class="row justify-content-md-center">
    <p>From here you can update your email address and password and see other information about your account</p>
  </div>
  <div class="row justify-content-md-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="row form-group">
        <%= f.label :email, :class => "col-4 col-form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="row form-group">
        <%= f.label :password, "New password (leave blank if you don't want to change it)",:class => "col-10 col-form-label" %><br />
        <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="row form-group">
        <%= f.label :password_confirmation, :class => "col-4 col-form-label"  %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control" %>
      </div>

      <div class="row form-group">
        <%= f.label :current_password, "Current password (we need your current password to confirm your changes)",:class => "col-12 col-form-label" %>
        <%= f.password_field :current_password, autocomplete: "current-password", :class => "form-control" %>
      </div>
      <br>
      <div class="row form-check">
          <%= f.check_box :request_rstudio_priv, :checked => current_user.rstudio == true, :disabled => current_user.rstudio == true %>
          <%= f.label :request_rstudio_priv, current_user.rstudio == true ? "Authorized to use RStudio cloud server" : "I would like authorization to use the RStudio cloud server"%>
      </div>
      <div class="row form-check">
          <%= f.check_box :request_upload_priv, :checked => current_user.can_upload == true, :disabled => current_user.can_upload == true %>
          <%= f.label :request_upload_priv, current_user.can_upload == true ? "Authorized to upload files" : "I would like authorization to upload data files" %>
      </div>
      <% if @user.projects%>
      <hr>
        <div class="row">
          <p><bold>Existing data sets:</bold> <% @user.projects.pluck(:name).each_with_index do |name, idx| %><%= idx == @user.projects.size - 1 ? "#{name}" : "#{name}, " %><% end %></p>
        </div>
      <% end %>
      <div class= "row form-check">
        <%= f.label :project_name, "Create a new data set with this name:", :class =>"col-12 col-form-label"%>
        <%= f.text_field :project_name, :class => "form-control", :multiple => true, :value => nil %>
      </div>
      <br>
      <div class="row justify-content-md-center">
        <div class="actions">
          <%= f.submit "Update", :class => "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  <br><br>
  </div>
  <hr>
  <div class="row justify-content-md-left">
      <% if current_user.rstudio == true %>
        <div class="col-md-8 offset-md-2">
          Rstudio username: <span id="rusername" style="margin-right:150px;"><b><%= current_user.rstudio_username %></b></span>
          <button class="clipboard-btn btn btn-primary btn-sm" data-clipboard-action="copy" data-clipboard-target="#rusername">Copy to clipboard</button>
          <br><br>
          Rstudio password: <span id="rpassword"" style="margin-right:150px;"><b><%= current_user.rstudio_password %></b></span>
          <button class="clipboard-btn btn btn-primary btn-sm" data-clipboard-action="copy" data-clipboard-target="#rpassword">Copy to clipboard</button>
        </div>
      <% end %>
  </div>



</div>

