<div class="container" style="margin-top:20px;">
    <div class="row justify-content-md-left">
        <div class="col-md-auto">
            <h4>File Upload History for:<br><%= current_user.email %></h4>
        </div>
    </div>
    <div class="row justify-content-md-center" style="margin-top:30px">
        <div class="col-md-6" style="padding-top:10px;">
            <h5>Previous Uploads</h5>
            <ul>
                <% current_user.uploads.each do |u|%>
                    <% puts u.created_at.strftime("%Y-%m-%d")%>
                    <li><%= u.created_at.strftime("%Y-%m-%d") %><br>&nbsp;&nbsp;<%= u.filename.to_json %></li>
                <% end %>
            </ul>
        </div>
        <div class="col-md-6" style="padding-top:10px;">  
            <h5>Upload Files</h5>
            <%= form_for @user, :url => upload_store_path do |f|%>
                <%= f.file_field :attachments, multiple: true, direct_upload: true %><br /><br />
                <%= f.submit "Upload Files", :class => "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>