<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <h2><%= current_user.email %></h2>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h5>Previous Uploads</h5>
            <ul>
                <% current_user.uploads.each do |u|%>
                    <li><%= u.filename.to_json %></li>
                <% end %>
            </ul>
        </div>
        <div class="col-md-8">  
            <h5>Upload Files</h5>
            <%= form_for @user, :url => upload_store_path do |f|%>
                <%= f.file_field :attachments, multiple: true, direct_upload: true %><br />
                <%= f.submit %>
            <% end %>
        </div>
    </div>
</div>