<div class="container" style="margin-top:20px;">
    <div class="row justify-content-md-left">
        <div class="col-md-auto">
            <h4>File Upload History for:<br><%= current_user.email %></h4>
        </div>
    </div>
    <div class="row justify-content-md-center" style="margin-top:30px">
        <div class="col-md-6" style="padding-top:10px;">
            <h5>Previous Uploads</h5>
            <ul>
                <% current_user.uploads.each do |u|%>
                    <% puts u.created_at.strftime("%Y-%m-%d")%>
                    <li><%= u.created_at.strftime("%Y-%m-%d") %><br>&nbsp;&nbsp;<%= u.filename.to_json %></li>
                <% end %>
            </ul>
        </div>
        <div class="col-md-6" style="padding-top:10px;">  
            <h5>Upload Files</h5>
            <%= form_for @user, :url => upload_store_path do |f|%>
                <%= f.file_field :attachments, multiple: true, direct_upload: true %><br /><br />
                <div class="row">
                    <%= f.check_box :irb_sharing_approved, :id => "irb_checkbox", :checked => false, :style => "margin-right:10px;" %>
                    <%= f.label :irb_sharing_approved, "I am authorized by my IRB/ethics committee to share the data I am uploading.", :style => "font-size:10pt;font-weight:bold;" %>
                </div>
                <%= f.submit "Upload Files", :class => "btn btn-primary", :id => "file_upload_submit", :disabled => true %>
            <% end %>
        </div>
    </div>
</div>