<br>
<div class="row justify-content-md-center">
    <h3>Download Data from your projects</h3>
</div>
<div class="row justify-content-md-center">
    <!-- if user has more than one project they can access, include a drop down select control to choose another project, otherwise leave select control out -->
    <% if @projects.count == 1 %>
        <div class="col-12">
            <h1><%= @current_project.name%></h1>
        </div>
    <% else %>
        <div class="col-10">
            <h1><%= @current_project.name%></h1>
        </div>
        <div class="col-2">
            <%= select_tag "projects", options_for_select(@projects.collect{ |p| [p.name, p.id]}, :selected => @current_project.id), :class => "form-control", :id => "project-select-control" %>
        </div>
    <% end %>
</div>
<br>
<div class="row justify-content-md-center">
    <div class="col-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#subjects-table-pane">Subjects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#c19-symptoms-table-pane">COVID-19 Symptoms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#hla-table-pane">HLA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kir-table-pane">KIR</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#comorbidity-table-pane">Comorbidity</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#hospitalization-table-pane">Hospitalization</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#riskfactor-table-pane">Risk Factor</a>
            </li>
            <%# <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#labtest-table-pane">Lab Test</a>
            </li> %>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#treatment-table-pane">Treatment</a>
            </li>
        </ul>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-12">
        <div class="tab-content data-table-container">
            <%= render 'project/partials/subjects_datatable' %>
            <%= render 'project/partials/c19_symptoms_datatable' %>
            <%= render 'project/partials/hla_datatable' %>
            <%= render 'project/partials/kir_datatable' %>
            <%= render 'project/partials/comorbidity_datatable' %>
            <%= render 'project/partials/hospitalization_datatable' %>
            <%= render 'project/partials/riskfactor_datatable' %>
            <%# <%= render 'project/partials/labtest_datatable' %> 
            <%= render 'project/partials/treatment_datatable' %>
        </div>
    </div>
</div>
<br>