 <br>
 <div class="row justify-content-md-center">
    <h3>Manage access to data from your projects</h3>
    <br>
    <h6>A checked box indicates that user has access to, and may download, data from your project. To remove access, uncheck a checked box.</h6>
</div>
<br>
<div class="row justify-content-md-center">
    <div class="col-md-10">
        <table class="table">
            <thead>
                <th>User email</th>
                <% current_user.projects.each do |p| %>
                    <th><%= p.name %></th>
                <% end %>
            </thead>
            <tbody>
                <% User.where(approved:true).reject{ |u| u.id == current_user.id }.each do |u| %>
                    <tr>
                        <td><%= u.email %></td>
                        <% @manage_projects.each do |p| %>
                            <td>
                                <input type='checkbox' class="user-list" data-userid="<%= u.id %>" data-projectid="<%= p.id %>" data-appstatus = <%= (u.approved_access.include? p.id ) ? "yes" : "no" %> ><span id="status-<%=p.id%>">
                            </td>
                        <% end %>
                    </tr>
                <% end %>
            <tbody>
        </table>
    </div>
</div>