<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <h3>Manage access to data from your projects</h3>
        </div>
    </div>
    <br>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <th>User email</th>
                    <% @projects.each do |p| %>
                        <th><%= p.name %></th>
                    <% end %>
                </thead>
                <tbody>
                    <% User.where(approved:true).each do |u| %>
                        <tr>
                            <td><%= u.email %></td>
                            <% @projects.each do |p| %>
                                <td>
                                    <input type='checkbox' class="user-list" data-userid="<%= u.id %>" data-projectid="<%= p.id %>" data-appstatus = <%= (u.approved_access.include? p.id ) ? "yes" : "no" %> ><span id="status-<%=p.id%>">
                                </td>
                            <% end %>
                        </tr>
                    <% end %>
                <tbody>
            </table>
        </div>
    </div>
