<div class="container">
    <div class="row justify-content-md-center" style="margin-top:50px;">
        <div class="col-6">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#log-in-form">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#registration-form">Register Account</a>
                </li>
            </ul>

                <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane container active" id="log-in-form">
                <br />
                    <h2>Log in</h2>
                    <%= form_for(@user, url: session_path(@user)) do |f| %>
                        <div class="row form-group" style="margin-left:1px;margin-right:1px;">
                            <%= f.label :email, :class => "col-4 col-form-label"  %><br />
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", :required => true %>
                        </div>

                        <div class="row form-group" style="margin-left:1px;margin-right:1px;">
                            <%= f.label :password, :class => "col-4 col-form-label" %><br />
                            <%= f.password_field :password, autocomplete: "password", :class => "form-control", :required => true %>
                        </div>

                        <div class="row justify-content-md-center" style="margin-bottom:15px;"> 
                            <div class="actions">
                                <%= f.submit "Log in", :class => "btn btn-primary" %>
                            </div>
                        </div>

                          <div class="row justify-content-md-center">
                            <div class="">
                                <%= link_to "Forgot your password?", new_password_path(@user) %>
                            </div>
                        </div>
                    <% end %>
                </div>
                <div class="tab-pane container fade" id="registration-form">
                <br />
                    <h2>Register New Account</h2>
                    
                    <%= form_for(@user, url: registration_path(@user)) do |f| %>
                        <div class="row form-group" style="margin-left:1px; margin-right:1px;">
                            <%= f.label :firstname, "First name", :class => "col-4 col-form-label" %><br />
                            <%= f.text_field :firstname, :class => "form-control", :required => true %>
                        </div>

                        <div class="row form-group" style="margin-left:1px; margin-right:1px;">
                            <%= f.label :lastname, "Last name", :class => "col-4 col-form-label" %><br />
                            <%= f.text_field :lastname, :class => "form-control", :required => true %>
                        </div>

                        <div class="row form-group" style="margin-left:1px;margin-right:1px;">
                            <%= f.label :email, :class => "col-4 col-form-label" %><br />
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", :required => true %>
                        </div>

                        <div class="row form-group" style="margin-left:1px;margin-right:1px;">
                            <%= f.label :affiliation, "Institutional Affiliation", :class => "col-10 col-form-label" %><br />
                            <%= f.text_field :affiliation, :class => "form-control", :required => true %>
                        </div>

                        <div class="row form-group" style="margin-left:1px;margin-right:1px;">
                            <%= f.label :password, :class => "col-4 col-form-label" %>
                            <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> characters minimum)</em>
                            <% end %><br />
                            <%= f.password_field :password, autocomplete: "new-password", :class => "form-control", :required => true %>
                        </div>

                        <div class="row form-group" style="margin-left:1px;margin-right:1px;">
                            <%= f.label :password_confirmation, :class => "col-10 col-form-label" %><br />
                            <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control" %>
                        </div>
                        <div class="row form-group" style="margin-left:20px;margin-right:1px;">
                            <%= f.check_box :email_opt_in, :class => "form-check-input", :required => true %>
                            <%= f.label :email_opt_in, "The HLA | COVID19 database portal uses email to contact users to perform site functions. By clicking here you agree to receive emails from the HLA | COVID19 database portal (required for registration).", :class => "form-check-label"%>
                        </div>
                        <div class="row justify-content-md-center"  style="margin-left:1px;margin-right:1px;"> 
                        <p style="font-size:10pt;"> <input type="checkbox" id="reg-chkbox"> I understand new account applications are reviewed and subject to approval of the HLA-COVID19 governing body.
                         Approved users shall be notified by email. I acknowledge my account will be inactive until I am otherwise notified. </p>
                        </div>
                        <div class="row justify-content-md-center" style="margin-bottom:15px;"> 
                            <div class="actions">
                                <%= f.submit "Register", :class => "btn btn-primary", :id => "new_registration_submit", :disabled => true %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>