<div class="container-fluid main-view" >
    <div class="row justify-content-md-center" style="margin-top:40px;margin-bottom:50px;">
        <div class="col-10">
            <h2>HLA | COVID-19 Database portal</h2>
            <br>
            <p>From here, users may register for an account, view summary statistics, upload data and manage access to it, and request access to the consortium's online
            HLA imputation tool and RStudio Server platform.<p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div id="sex-chart"></div>
        </div>
        <div class="col-md-4">
            <div id="age-chart"></div>
        </div>
        <div class="col-md-4">
            <div id="n-chart-box">
                <div id="n-chart-inner">
                    <div class="n-chart-label-box">
                        <h6 class="n-chart-label">Subjects</h6>
                    </div>
                    <div id="n-chart-subjects-box">
                        <h1 class="n-chart-value text-center"><%= @subjects_n %></h1>
                    </div>
                    <hr>
                    <div class="n-chart-label-box">
                        <h6 class="n-chart-label">HLA</h6>
                    </div>
                    <div id="n-chart-hlas-box">                   
                        <div id="n-chart-imputed-hlas-box">
                            <div class="n-chart-value-box">
                                <h1 class="n-chart-value text-center"><%= @all_hlas_n %></h1>
                            </div>
                            <div class="n-chart-label-box">
                                <h6 class="n-chart-label text-center"></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center"  style="border:1px solid red">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <% @hla_genes.each_with_index do |g, idx| %>
                    <li class="nav-item">
                        <a class=<%= idx == 0 ? "nav-link active" : "nav-link"%> data-toggle="tab" href=<%= "##{g}-chart-container" %>><%= "HLA-#{g.upcase}"%></a>
                    </li>
                <% end %>
            </ul>
            <div class="tab-content">
                <% @hla_genes.each_with_index do |g, idx| %>
                    <div class="tab-pane container<%= idx == 0 ? " active" : "" %>" id="<%= g %>-chart-container" style="border:1px dotted orange;min-width:100%">
                        <div class="allele-freq-chart" data-gene="<%= g %>" id="<%= g %>-chart" style="border:1px dotted purple"></div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

