<div class="container">

  <div class="row justify-content-md-center">
    <h2>Retry Log in</h2>
  </div>

  <div class="row justify-content-md-center" style="margin-top:25px;">
    <div class="col-md-4" id="log-in-form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row form-group" style="margin-left:1px;margin-right:1px;">
          <%= f.label :email, :class => "col-4 col-form-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", :required => true %>
        </div>

        <div class="row form-group" style="margin-left:1px;margin-right:1px;">
          <%= f.label :password, :class => "col-4 col-form-label" %><br />
          <%= f.password_field :password, autocomplete: "current-password", :class => "form-control", :required => true %>
        </div>

        <div class="row justify-content-md-center" style="margin-bottom:25px;">
          <%= f.submit "Log in", :class => "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <%# <%= render "devise/shared/links" %>
  </div>
</div>